body{
    background-color: bisque;
}

#counterLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}
#btnContainer{
    text-align: center;
}
button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(123, 254, 254);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
button:hover{
    background-color: rgb(16, 243, 243);
}