body{
    text-align: center;
    background-color: aquamarine;
}
h3{
    font-size: 2em;
}
#myButton{
    font-size: 2em;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 8px;
}
#myResult{
    font-size: 2.5em;
}